<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="aService"  class="Ex4.AccountService">
 <constructor-arg value="sql developer"/>
</bean>

<bean id="uService" class="Ex4.UserService">
	   <constructor-arg value="Oracle"/>
	   <constructor-arg value="password"/>
	</bean> 
	

</beans>